@model webchatBTL.Models.SubscriptionPlan

@{
    ViewData["Title"] = "Xóa gói dịch vụ";
}

<h1>@ViewData["Title"]</h1>

<h3 class="text-danger">Bạn có chắc muốn xóa không?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxUsers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxUsers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxStorage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxStorage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PlanId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
